<h1>Eat-Da-Burger!</h1>

<ul>
    {{#each burgers}}
    {{#unless devoured}}

    <li>
	{{burger_name}}

	<button class="changeDevour" data-id="{{id}}" data-devour="{{devoured}}">
		{{#if devoured}}{{else}}Devour{{/if}}
	</button>
</li>

    {{/unless}}
  {{/each}}
</ul>

<ul>
    {{#each burgers}}
    {{#if devoured}}

<li>
	{{burger_name}}
</li>

    {{/if}}
    {{/each}}
</ul>

<br>
<h3>Add a burger:</h3>
<br>
<form class="burger-form"></form>
    <input type="text" class="form-control" id="newBurger">  
    <br>  
    <button type="submit" class="btn btn-primary">Submit</button>
</form>